<!DOCTYPE html>
<html lang="en">
{% load filters %}
<head>
    <meta charset="UTF-8">
    <title>模板标签</title>
    <style>
        .yellow {
            background-color: yellow;
        }

        .green {
            background-color: green;
        }

        .orange {
            background-color: orange;
        }
    </style>
</head>
<body>
<ul>
    {% for b in books %}
        {% if b.id < 2 %}
        <li class="yellow">{{ forloop.counter }} ----{{ b.btitle }}</li>
        {% elif b.id == 2 %}
            <li class="green">{{ forloop.counter }} ----{{ b.btitle }}</li>
        {% else %}
            <li class="orange">{{ forloop.counter }} ----{{ b.btitle }}</li>
        {% endif %}
    {% endfor %}
</ul>
<hr>


</body>
</html>